
<h2>修改成功</h2>

<html>

<body>
    <table border="1" class="table table-bordered">
        <tr>
            <td>員工編號</td>
            <td>@ViewBag.data.EmployeeID</td>
        </tr>
        <tr>
            <td>姓名(First Name)</td>
            <td>@ViewBag.data.FirstName</td>
        </tr>
        <tr>
            <td>姓名(Last Name)</td>
            <td>@ViewBag.data.LastName</td>
        </tr>
        <tr>
            <td>職稱</td>
            <td>@ViewBag.data.Title</td>
        </tr>
        <tr>
            <td>稱謂</td>
            <td>@ViewBag.data.TitleOfCourtesy</td>
        </tr>
        <tr>
            <td>任職日期</td>
            <td>@ViewBag.data.HireDate</td>
        </tr>
        <tr>
            <td>生日</td>
            <td>@ViewBag.data.BirthDate</td>
        </tr>
        <tr>
            <td>國家</td>
            <td><input type="text" id="empCountry" name="empCountry" value="@ViewBag.data.Country"></td>
        </tr>
        <tr>
            <td>城市</td>
            <td><input type="text" id="empCity" name="empCity" value="@ViewBag.data.City"></td>
        </tr>
        <tr>
            <td>地址</td>
            <td><input type="text" id="empAddress" name="empAddress" value="@ViewBag.data.Address"></td>
        </tr>
        <tr>
            <td>電話</td>
            <td><input type="text" id="empPhone" name="empPhone" value="@ViewBag.data.Phone"></td>
        </tr>
        <tr>
            <td>性別</td>
            <td><input type="text" id="empGender" name="empGender" value="@ViewBag.data.Gender"></td>
        </tr>
        <tr>
            <td>直屬主管</td>
            <td><input type="text" id="empManagerID" name="empManagerID" value="@ViewBag.data.ManagerID"></td>
        </tr>
        <tr>
            <td>月薪</td>
            <td><input type="text" id="empMonthlyPayment" name="empMonthlyPayment" value="@ViewBag.data.MonthlyPayment"></td>
        </tr>
        <tr>
            <td>年薪</td>
            <td><input type="text" id="empYearlyPayment" name="empYearlyPayment" value="@ViewBag.data.YearlyPayment"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" value="確認" class="btn">
            </td>
        </tr>
    </table>

</body>
</html>

<script>


</script>



